$bg-color : #F0F0F0;
$black : #000000;
$white : #FFFFFF;
$ellipse-color-1 : #ED8077;
$ellipse-color-2 : #4487C5;
$ellipse-color-3 : #5EB5A6;
$ellipse-color-4 : #A1AF2F;
$button-color-1 : #02836B;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    min-width: 1280px;
    color: $black;
    font-size: 16px;
}

.header {
    height: 70px;
    background: $white;
    margin: 8px 11px 40px 11px;
    @include flex-center;
    justify-content: flex-end;
}

.header > h1 {
    font-size: 30px;
    padding: 0 30px;
}

.main > * {
    margin: 0 58px;
}

.filter label {
    font-size: 14px;
}

.filter select {
    border: none;
    width: 150px;
    height: 30px;
    @include flex-center;
    justify-content: unset;
    border-radius: 3px;
    overflow: hidden;
    background: url(../images/arr-down.png) no-repeat center right 5%, $white;
    appearance: none;
}

.filter select:focus {
    border: none;
    outline: none;
}

.board-container {
    @include flex-center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.board-container > .board {
    min-width: 250px;
    width: 100%;
    margin-bottom: 10px;
}

.title {
    @include flex-center;
    justify-content: flex-start;
}

.title::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

.board:nth-of-type(1) .title::before {
    background: $ellipse-color-1;
}

.board:nth-of-type(2) .title::before {
    background: $ellipse-color-2;
}

.board:nth-of-type(3) .title::before {
    background: $ellipse-color-3;
}

.board:nth-of-type(4) .title::before {
    background: $ellipse-color-4;
}

.board-container .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-group {
    height: 574px;
    width: 100%;
    background: $white;
    border-radius: 3px;
    overflow: auto;
}

.card-group > * {
    margin: 6px 10px;
}

.btn-modal {
    border: none;
    color: $button-color-1;
    font-size: 12px;
    background: none;
    cursor: pointer;
    @include flex-center;
    justify-content: flex-start;
}

.btn-modal::before {
    content: url(../images/add-sign.png);
    margin-right: 4px;

}